@import "variables";

@mixin container {
  max-width: $containerWidth;
  margin: 0 auto;
  width: 100%;
}

@mixin flexBox {
  display: flex;
  align-items: center;
}

@mixin absoluteBlock {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin productCard {
  border-radius: 10px;
  background: $colorGreyLight;
  padding: 72px 30px 30px 30px;
}

@mixin productBtn {
  border-radius: 10px;
  border: 2px solid $colorPurple;
  background: transparent;
  color: $colorPurple;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%; /* 16px */
  padding: 19px 35px;
}

@mixin productTitle {
  color: $colorBlack;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
}

@mixin sectionTitle {
  color: $colorBlack;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%; /* 32px */
}
