@import "presets/variables";
@import "presets/mixin";

.header__upper {
  justify-content: space-between;
  padding: 14px 0;
  background-color: $colorGreyLight;

  .container {
    @include flexBox;
    justify-content: space-between;
  }

  .header__upper-geo {
    @include flexBox;

    .header__upper-region {
      @include flexBox;
      color: $colorBlack;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      margin-right: 30px;

      & span {
        color: $colorPurple;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
      }
    }

    .header__upper-phone {
      @include flexBox;
      color: $colorOrange;
      font-size: 14px;
      font-weight: 400;
      line-height: 100%; /* 14px */
      transition: background-color .2s ease-in-out, color .2s ease-in-out;

      & svg {
        margin-right: 5px;
        transition: fill .2s ease-in-out;
      }

      &:focus-visible {
        background: $colorOrangeLight;
      }

      &:hover {
        color: $colorOrangeLight;

        & svg {
          path {
            fill: $colorOrangeLight;
          }
        }
      }
    }
  }

  .header__upper-nav {
    .header__upper-nav__list {
      @include flexBox;

      .header__upper-nav__item {
        &:not(:last-child) {
          margin-right: 64px;
        }
      }

      .header__upper-nav__link {
        color: $colorGrey;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 14px */
        transition: color .2s ease-in-out, background-color .2s ease-in-out;

        &:focus-visible {
          background: var(--pink_violet, #EBD1FF);
        }

        &:hover {
          color: $colorPurpleLight;
        }

        &:active {
          color: $colorPurpleShade;
        }
      }
    }
  }
}

.header__middle {
  padding: 36px 0;

  .container {
    @include flexBox;
    justify-content: space-between;
  }

  .header__middle-nav {
    .header__middle-nav__list {
      @include flexBox;

      .header__middle-nav__item {
        &:not(:last-child) {
          margin-right: 91px;
        }
      }

      .header__middle-nav__link {
        color: $colorBlack;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

}

.header__bottom {
  padding-bottom: 32px;

  .container {
    @include flexBox;
    justify-content: space-between;
  }

  .header__bottom-search {
    @include flexBox;


    .header__bottom-search__label {
      @include flexBox;
      justify-content: space-between;
      padding: 14px 32px;

      width: 731px;
      height: 100%;
      border-radius: 10px 0 0 10px;
      background: $colorGreyLight;

      .header__bottom-searchbar {
        width: 50%;
        height: 100%;
        border: none;
        background: transparent;

        &:focus-visible {
          outline: none;
          border-bottom: 1px solid $colorBlack;
        }
      }
    }

    .header__bottom-search__btn {
      border: none;
      background: none;
    }

  }

  .header__bottom-personal {
    @include flexBox;


    .header__bottom-personal-link {
      margin-right: 32px;
    }

    & svg:hover {
      transition: fill .2s ease-in-out;
      path {
        fill: $colorPurpleLight;
      }
    }
  }
}
