@import "settings";
@import "mixin";
@import "variables";
@import "choices";
@import "swiper";
@import "header";


.hero {
  position: relative;
  height: 400px;
  padding: 80px 0;

  .hero__slide-text {
    position: absolute;
    top: 80px;
    left: 16.67%;
  }

  .hero__title {
    max-width: 496px;
    color: $colorGrey;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 49px;
  }

  .hero__btn {
    border: none;
    padding: 22px 47px;
    border-radius: 10px;
    background: $colorPurple;
    color: $colorWhite;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
  }
}

.special {
  padding: 70px 0;
  overflow-x: hidden;

  .special__title {
    @include sectionTitle;
    margin-bottom: 26px;
  }

  .special__card-wrap {
    display: flex;

    .special__card {
      @include productCard;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      position: relative;

      width: calc((100% - ($productGap * 2)) / 4);

      &:not(:last-child) {
        margin-right: $productGap;
      }



      .special__card-disc {
        @include flexBox;
        justify-content: center;
        width: 74px;
        height: 34px;
        position: absolute;
        top: 30px;
        left: 0;
        background-image: url("images/discountbg.svg");
        background-repeat: no-repeat;
        background-position: right;

        color: $colorWhite;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
      }

      .special__card-img {
        align-self: center;
        margin-bottom: 16px;
      }

      .special__card-title {
        @include productTitle;
        margin-bottom: 23px;
      }

      .special__card-prices {
        @include flexBox;
        margin-bottom: 24px;

        .special__card-discount {
          color: $colorOrange;
          font-size: 18px;
          font-weight: 400;
          line-height: 130%; /* 23.4px */
          margin-right: 30px;
        }

        .special__card-price {
          text-decoration: line-through black;
        }
      }


      .special__card-btn-wrap {
        @include flexBox;
        justify-content: flex-start;

        .special__card-btn {
          @include productBtn;
        }
      }


    }

    .special__card-exp {
      width: calc((100% - ($productGap * 1)) / 2);
    }
  }


}



